body{
    margin:0;
    padding: 0%;
    display:flex;
    display: grid;
    background-color: rgb(50, 50, 50);
    color:white;
}

textarea{
    z-index: 2;
    bottom: 10%;
    padding: 20px;
    width:55%;
    height: 80px;
    border-radius: 30px;
    border: white 1px solid;
    background-color: rgb(39, 39, 39);
    color:white;
}

h1{
    font-family:Arial, Helvetica, sans-serif;
    font-size: x-large;
}

header{
    z-index: 2;
    background-color: rgb(50, 50, 50);
    align-items: center;
    gap:70%;
    display: flex;
    padding-left:20px;
    padding-top:5px;
    border-bottom: 1px solid white;
    padding-bottom: 5px;
}

select{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin:0px;
    border-radius: 30px;
    border: white 1px solid;
    background-color: rgb(39, 39, 39);
    padding:5px;
    color:white;
}

.hyperTextRegistrati{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 1px solid white;
    border-radius: 30px;
    padding:5px;
    padding-left:10px;
    padding-right:10px;
}

.hyperTextAccedi{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(255, 255, 255);
    color: rgb(39, 39, 39);
    border-radius: 30px;
    padding:5px;
    padding-left:10px;
    padding-right:10px;
}

.risposte{
    position:absolute;
    display: flex;
    flex-direction: column;
    top:20%;
    align-items: center;
    width: 100%;
    margin:0;
    padding:0;
}

.risposta{
    display: flex;
    flex-direction: column;
    width: 55%;
    justify-content: center;
    gap:10;
}

.messaggio{
    background-color: rgb(39, 39, 39);
    padding-left: 10px;
    padding-right: 10px;
    float: right;
    color: white;
    border-radius: 30px;
}

.inputTestuale{
    z-index: 2;
    display: flex;
    position:fixed;
    justify-content: center;
    align-items: center;
    left:0;
    bottom:10%;
    right:0;
    gap:5px;
}